<!— header  —!>
	
	<br/>
	<br/>

	<!— navbar goes here —!>

	<nav>
	<!— logo —!>

	<!— primary nav —!>

	<!— secondary nav —!>



	<!— mobile menu —!>
	</nav>
	
	<!— content goes here —!>

	<div class="py-32 text-center">
		<h2 class="font-extrabold text-4xl">Navbars in Tailwind !</h2>

	</div>