<!— header  —!>
	
	<br/>
	<br/>

	<!— navbar goes here —!>

	<nav class="bg-backgroundrose">
		<div class="max-w-7xl mx-auto border border-red-400"
			<!— logo —!>
			<div>logo</div>

			<!— primary nav —!>
			<div>primary nav</div>

			<!— secondary nav —!>

		</div>

		<!— mobile menu —!>
	</nav>

	<!— content goes here —!>

	<div class="py-32 text-center">
		<h2 class="font-extrabold text-4xl">Navbars in Tailwind !</h2>

	</div>