<h1>Home page content is here. index.html.erb</h1>

<br/>
<br/>
<br/>
<!— test text - remove buttons later. For testing AlpineJS —!>

<button x-data x-on:Click="alert('hi there')">
  Click Me
</button>

<button x-data x-on:click="alert('hey hey hey there')">
  Click It
</button>


<div x-data="{ open: false }">
    <button @click="open = ! open">Toggle</button>

    <div x-show="open" @click.outside="open = false">Contents...</div>
</div>


<div x-data="{ count: 0 }">
    <button x-on:click="count++">Increment</button>

    <span x-text="count"></span>
</div>